h2 {
    text-align:center;
    color:white;
}


footer {
    text-align:center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding:20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 16px;
    text-align:center;
}

input {
    width: 100%;
    height: 42px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    text-align:center;
    background-color:green;
    color:white;
}
